/*stylesheet for following pages:

career-education.html
internship.html
mentoring.html
tobecontinued.html
volunteer.html

*/


body {
    background-color: lightgrey;
}

label {
    font-weight: initial;
}

.contact-form-profile{
	display: inline-block;
	width: 45%;
	vertical-align: top;
}

.single-address {
    color: #fafafa;
    font-size: 14px;
    margin-bottom: 5px;
}
.single-address input {
    margin: 0 5px;
}
.radio-occupation input {
    margin-bottom: 5px;
    font-weight: bold;
}


#other{
	border-radius: 8px;
	background: lightgrey;
	opacity: 80%;
}

.aside {
    background-color: #00d99877;
    color: rgb(59, 57, 57);

    float: left;
    margin: 3em 0 0 10%;

    height: 52rem;
    width: 27rem;
    border-radius: 20px;    
}

.aside ul {
    margin-top: 2em;
}

.form-group:first-of-type {
    padding-top: 1em;
}

.form-group {
    padding-left: 2em;
}

.aside > ul > h1 {
    display: none;
}

.aside-heading {
    font-size: 2rem;
    padding-left: 3em;
}

.content {
    background-color: #00d99877;
    border-radius: 20px;
    float: right;
    margin: 3em 10% 3em 0 ;
    width: 105rem;
    color: rgb(59, 57, 57);
}

.event-item {
   display: flex;
   border: 1px solid lightgrey;
   margin: 3em 2em;
   background-color: white;
   border-radius: 15px;
   box-shadow: 0 1rem 3rem rgba(0,0,0,0.4);
}

.event-photo-container {
    display: flex;
}
.event-item-photo {
    padding: 1em;
    width: 370px;
    height: 260px;
    align-self: center;
}

.event-item-content {
    float: right;
}
	
.event-item-content-heading {
    text-align: center;
}

.event-item-content-details {
    padding: 10px;
}

.event-item-content-details span {
    padding: 0 8px;
    margin-right: .5em;
    font-size: 13px;
    background-color: rgb(226, 243, 226);
    border-radius: 10px;
    font-weight: 900;
}

.event-item-content-details p {
    margin: 10px 20px 0 0;
    text-align: justify;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.event-item-button,
.event-item-button:link,
.event-item-button:visited {
    background-color: #00d999;
    border-radius: 10px;
    float: right;
    margin-right: 3em;
    margin-bottom: 1em;
    outline: none;
    padding: 2px 8px;
}

.event-item-button:hover {
    transform: translateX(1px) translateY(-2px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.4);
}

.event-item-button:active {
    transform: translateX(0px) translateY(0px);
    outline: none;
    box-shadow: none;
}

.to-be-continued {
    background-color: #00d99877;
    font-size: 5em;
    font-weight: 600;
    text-align: center;
    margin-top: 27vh;
}

.reset-filter-btn {
    border-radius: 10px;
    margin-left: 2em;
    margin-top: .5em;
    outline: none;
    padding: 2px 8px;
}

.reset-filter-btn:hover {
    transform: translateX(1px) translateY(-2px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.4);
}

.reset-filter-btn:active {
    transform: translateX(0px) translateY(0px);
    outline: none;
    box-shadow: none;
}








/* MEDIA QUERIES */

@media (max-width: 1699px) {

    .aside {
        margin: 3em 0 0 3%;
    }
    .content {
        margin: 3em 3% 3em 0 ;
    }
}

@media (max-width: 1449px) {

    .aside {
        width: 25rem;   
    }
    .content {
        width: 85rem;
        margin: 3em 3% 3em 0 ;
    }
    .event-item-photo {
        width: 200px;
        height: 150px;
    }
}

@media (max-width: 1199px) {

    .aside {
        height: 44rem;
        width: 19rem;    
        font-size: 1.2rem;
    }
    .aside-heading {
        font-size: 1.6rem;
        padding-left: 2em;
    }
    .content {
        width: 65rem;
        margin: 3% 3% 3em 0 ;
        font-size: 1.2rem;
    }
    .event-item-photo {
        width: 200px;
        height: 150px;
    }
    .event-item-content-heading {
        font-size: 2rem;
    }
    .event-item-content-details {
        text-align: center;
    }
    .event-item-content-details span {
        display: inline-flex;
        justify-content: space-around;
        width: 14rem;
        padding: 0 6px;
        margin-right: 5px;
        font-size: 11px;
    }
    .navbar-nav li {
        float: left;
    }
}

@media (max-width: 899px) {

    .aside {
        height: 27rem;
        width: 90%;    
        margin: 0 5%;
        font-size: 1.2rem;
    }
    .aside-heading {
        float: left;
        width: 100%;
        display: inline-flex;
        font-size: 1.6rem;
        margin-bottom: .5em;
        justify-content: center;
        padding: 0;
    }
    .form-group {
        position: relative;
    }
    .form-group:first-of-type {
        /* background-color: orangered; */
        padding-top: 0;
        width: 18rem;
        top: 1.5rem;
        left: 20%;
    }
    .form-group:nth-of-type(2) {
        /* background-color: yellow; */
        width: 18rem;
        top: 1.5rem;
        left: 20%;        
    }
    .form-group:nth-of-type(3) {
        /* background-color: lightblue; */
        width: 18rem;
        float: left;
        margin-top: -14.5rem;
        left: 60%;
    }
    .form-group:nth-of-type(4) {
        /* background-color: pink; */
        width: 18rem;
        top: -9.3rem;
        left: 60%;
    }
    .form-group:nth-of-type(5) {
        /* background-color: green; */
        width: 18rem;
        top: -9.5rem;
        left: 60%;
    }
    .aside button {
        position: relative;
        top: -10rem;
        left: 38%;
    }
    .content {
        position: relative;
        width: 90%;
        left: -1.5%;
    }
}

/* For mobile menu breakpoint*/
@media (max-width: 767px) {
    .aside {
        height: 27rem;
        width: 90%;    
        margin: 0 5%;
        margin-top: -4rem;
    }
}

@media (max-width: 499px) {
    .aside {
        height: 20rem;
        font-size: 1rem;
        font-weight: 300;
    }
    .aside-heading {
       margin-top: -1.5rem;
    }
    form label {
        margin-bottom: 0;
    }
    .form-group {
        padding: 0rem;
    }
    .form-group:nth-of-type(1) {
        width: 12rem;
        margin-top: 0rem;
        margin-left: -3rem;
    }
    .form-group:nth-of-type(2) {
        width: 12rem;
        margin-top: -1rem;
        margin-left: -3rem;
    }
    .form-group:nth-of-type(3) {
        /* background-color: yellow; */
        width: 9rem;
        margin-top: -11rem;
    }
    .form-group:nth-of-type(4) {
        width: 9rem;
        margin-top: 3.5rem;
    }
    .form-group:nth-of-type(5) {
        width: 9rem;
        margin-top: -1rem;
    }
    .event-item-photo {
        width: 100px;
        height: 75px;
        padding-left: 5px;
    }
    .event-item-content-heading {
        font-size: 1.6rem;
    }
    .event-item-content-details span {
        font-size: 1rem;
        width: auto;
        padding: 0 6px;
    }
    .event-item-content-details p {
        font-size: 1rem;
        margin: 6px 10px 0 0;
    }
}